<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>All citizens</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/">Home</a>
            </li>
            <li class="active">
                <strong>All citizens</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
        <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Citizen list</h5>
                <div class="ibox-tools">
                    <a href='/new-citizen-form' class='btn btn-primary'> <i class="fa fa-plus"></i> New citizen</a>
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
	            <div class="table-responsive">
		            <table class="table table-striped table-bordered table-hover dataTables-example" >
			            <thead>
				            <tr>
				                <th>Names <i class='fa fa-sort pull-right'></i></th>
				                <th>Phone</th>
				                <th>Umurenge</th>
				                <th>Akagari</th>
				                <th>Umudugudu</th>
				            </tr>
			            </thead>
			            <tbody>
			            	{{#each citizens as |citizen|}}
					            <tr class="gradeX">
					                <td>
					                	{{!-- <a href='/show-citizen/{{citizen.citizen_id}}'>
					                		{{citizen.first_name}} {{citizen.last_name}}
					                	</a> --}}
                                        <a onclick="getOneCitizen('{{citizen.citizen_id}}')">
                                            {{citizen.first_name}} {{citizen.last_name}}
                                        </a>
					                </td>
					                <td>{{citizen.phone}}</td>
					                <td>{{citizen.umurenge_name}}</td>
					                <td class="center">{{citizen.akagari_name}}</td>
					                <td class="center">{{citizen.umudugudu_name}}</td>
					            </tr>
				            {{/each}}
			            </tbody>
			            <tfoot>
			            <tr>
			                <th>Names</th>
			                <th>Phone</th>
			                <th>Umurenge</th>
                            <th>Akagari</th>
                            <th>Umudugudu</th>
			            </tr>
			            </tfoot>
		            </table>
	            </div>
	        </div>
        </div>
    </div>
</div>
<!-- Mainly scripts -->
    <script src="/template/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="/template/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="/template/js/plugins/jeditable/jquery.jeditable.js"></script>

    <!-- Custom and plugin javascript -->
    <script src="/template/js/plugins/pace/pace.min.js"></script>

<!-- Page-Level Scripts -->
<script src="/template/js/plugins/dataTables/datatables.min.js"></script>
<script>
        $(document).ready(function(){
            $('.dataTables-example').DataTable({
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    { extend: 'copy'},
                    {extend: 'csv'},
                    {extend: 'excel', title: 'Citizens Report'},
                    {extend: 'pdf', title: 'Citizens Report'},

                    {extend: 'print',
                     customize: function (win){
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                    .addClass('compact')
                                    .css('font-size', 'inherit');
                    }
                    }
                ]

            });

            /* Init DataTables */
            var oTable = $('#editable').DataTable();

            /* Apply the jEditable handlers to the table */
            oTable.$('td').editable( 'http://webapplayers.com/example_ajax.php', {
                "callback": function( sValue, y ) {
                    var aPos = oTable.fnGetPosition( this );
                    oTable.fnUpdate( sValue, aPos[0], aPos[1] );
                },
                "submitdata": function ( value, settings ) {
                    return {
                        "row_id": this.parentNode.getAttribute('id'),
                        "column": oTable.fnGetPosition( this )[2]
                    };
                },

                "width": "90%",
                "height": "100%"
            } );


        });

        function fnClickAddRow() {
            $('#editable').dataTable().fnAddData( [
                "Custom row",
                "New row",
                "New row",
                "New row",
                "New row" ] );

        }
    </script>