<div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2>Profile</h2>
                    <ol class="breadcrumb">
                        <li>
                            <a href="/citizens">Home</a>
                        </li>
                        <li class="active">
                            <strong>Profile</strong>
                        </li>
                    </ol>
                </div>
                <div class="col-lg-2">

                </div>
            </div>
        <div class="wrapper wrapper-content">
            <div class="row animated fadeInRight">
                <div class="col-md-4">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Profile Detail</h5>
                        </div>
                        <div>
                            <div class="ibox-content no-padding border-left-right">
                                <img alt="image" class="img-responsive" src="/template/img/profile_big.jpg">
                            </div>
                            <div class="ibox-content profile-content">
                                <h2><strong>{{citizen.first_name}} {{citizen.last_name}}</strong></h2>
                                <p><i class="fa fa-map-marker"></i> {{citizen.province_name}}, {{citizen.district_name}}</p>
                                <h3 class='text-navy'>
                                    About
                                </h3>
                                <p>
                                    <address>
                                        <b>Phone:</b> {{citizen.phone}}<br>
                                        <b>Email:</b> {{citizen.email}}<br>
                                    </address>
                                </p>
                                <div class='hr-line-dashed'></div>
                                <p>
                                    <div class='row'>
                                        <div class='col-sm-4'><label>Province: </label></div>
                                        <div class='col-sm-8'>{{citizen.province_name}}</div>
                                    </div>
                                    <div class='row'>
                                        <div class='col-sm-4'><label>District: </label></div>
                                        <div class='col-sm-8'>{{citizen.district_name}}</div>
                                    </div>
                                    <div class='row'>
                                        <div class='col-sm-4'><label>Sector: </label></div>
                                        <div class='col-sm-8'>{{citizen.umurenge_name}}</div>
                                    </div>
                                    <div class='row'>
                                        <div class='col-sm-4'><label>Cell: </label></div>
                                        <div class='col-sm-8'>{{citizen.akagari_name}}</div>
                                    </div>
                                    <div class='row'>
                                        <div class='col-sm-4'><label>Village: </label></div>
                                        <div class='col-sm-8'>{{citizen.umudugudu}}</div>
                                    </div>
                                </p>
                                <div class='hr-line-dashed'></div>
                                <p>
                                    <h3 class='text-navy'>
                                        More
                                    </h3>
                                    <div class='row'>
                                        <div class='col-sm-4'><label>National ID </label></div>
                                        <div class='col-sm-8'>{{citizen.national_id}}</div>
                                    </div>
                                    <div class='row'>
                                        <div class='col-sm-4'><label>Birthday: </label></div>
                                        <div class='col-sm-8'>{{citizen.birth_date}}</div>
                                    </div>
                                    <div class='row'>
                                        <div class='col-sm-4'><label>Place of birth: </label></div>
                                        <div class='col-sm-8'>{{citizen.place_of_birth}}</div>
                                    </div>
                                    <div class='row'>
                                        <div class='col-sm-4'><label>Father: </label></div>
                                        <div class='col-sm-8'>{{citizen.father_name}}</div>
                                    </div>
                                    <div class='row'>
                                        <div class='col-sm-4'><label>Mother: </label></div>
                                        <div class='col-sm-8'>{{citizen.mother_name}}</div>
                                    </div>
                                    <div class='row'>
                                        <div class='col-sm-4'><label>Parent's residence: </label></div>
                                        <div class='col-sm-8'>{{citizen.parents_current_residence}}</div>
                                    </div>
                                    <div class='row'>
                                        <div class='col-sm-4'><label>Parent's contacts: </label></div>
                                        <div class='col-sm-8'>{{citizen.parents_contact_phone}}</div>
                                    </div>
                                </p>
                                <div class='hr-line-dashed'></div>
                                <p>
                                    <h3 class='text-navy'>
                                        Employment
                                    </h3>
                                    <div class='row'>
                                        <div class='col-sm-4'><label>Employer: </label></div>
                                        <div class='col-sm-8'>{{citizen.employer_name}}</div>
                                    </div>
                                    <div class='row'>
                                        <div class='col-sm-4'><label>National ID </label></div>
                                        <div class='col-sm-8'>{{citizen.employer_identification_number}}</div>
                                    </div>
                                    <div class='row'>
                                        <div class='col-sm-4'><label>Contacts: </label></div>
                                        <div class='col-sm-8'>{{citizen.employer_phone}}</div>
                                    </div>
                                    <div class='row'>
                                        <div class='col-sm-4'><label>Location: </label></div>
                                        <div class='col-sm-8'>{{citizen.employer_residence}}</div>
                                    </div>
                                </p>
                                
                                <div class="row m-t-lg">
                                    
                                    <div class="col-md-12">
                                        <span class="line">5,3,9,6,5,9,7,3,5,2</span>
                                        <h5><strong>Registered on </strong> {{citizen.created_date}}</h5>
                                    </div>
            
                                </div>
                                <div class="user-button">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <a href='/move-citizen/{{citizen.citizen_id}}' type="button" class="btn btn-primary btn-sm btn-block"><i class="fa fa-edit"></i> Edit</a>
                                        </div>
                                        <div class="col-md-6">
                                            <a href="mailto:{{citizen.email}}" type="button" class="btn btn-default btn-sm btn-block"><i class="fa fa-envelope"></i> Send message</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
                    </div>
                <div class="col-md-8">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Activites</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    <i class="fa fa-wrench"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-user">
                                    <li><a href="#">Config option 1</a>
                                    </li>
                                    <li><a href="#">Config option 2</a>
                                    </li>
                                </ul>
                                <a class="close-link">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">

                            <div>
                                <div class="feed-activity-list">

                                    <div class="feed-element">
                                        <div class="media-body ">
                                            <small class="pull-right text-navy">1m ago</small>
                                            <strong>{{citizen.first_name}} {{citizen.last_name}}</strong> moved to <strong>Kigali, Kimironko</strong>. <br>
                                            <small class="text-muted">Today 4:21 pm - 12.06.2017 by Remmy Kagabo</small>
                                            {{!-- <div class="actions">
                                                <a class="btn btn-xs btn-white"><i class="fa fa-thumbs-up"></i> Like </a>
                                                <a class="btn btn-xs btn-danger"><i class="fa fa-heart"></i> Love</a>
                                            </div> --}}
                                        </div>
                                    </div>
                                    <div class="feed-element">
                                        <div class="media-body ">
                                            <small class="pull-right text-navy">3 months ago</small>
                                            <strong>{{citizen.first_name}} {{citizen.last_name}}</strong> moved to <strong>Kigali, Remera</strong>. <br>
                                            <small class="text-muted">Friday 4:22 pm - 12.03.2017 by Clemence Uwera</small>
                                            {{!-- <div class="actions">
                                                <a class="btn btn-xs btn-white"><i class="fa fa-thumbs-up"></i> Like </a>
                                                <a class="btn btn-xs btn-danger"><i class="fa fa-heart"></i> Love</a>
                                            </div> --}}
                                        </div>
                                    </div>
                                </div>

                                <button class="btn btn-primary btn-block m"><i class="fa fa-arrow-down"></i> Show More</button>

                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>